* {

}

html {
  background: #E0F2E9;
}

body {
  margin: 0;
}

/* NAV-BAR */

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
}

.header {
  background-color: #91C7B1;
  width: 100%;
  height: 30px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.header-menu {
  padding-right: 20px;
  width: 100%;
  text-align: right;
}

.header a {
  color: white;
  margin-right: 2%;
}

/* Main site */
.site-content {
width: 100%;
}


.newsContainer {
  margin-top: 50px;
  width: 75%;
}



/* News grid */

.allNews {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

/* Top Article */

.topNews {
  width: calc(60% + 20px);
  height: auto;
  margin: 10px;
  background-color: white;
}


.topNews img {
width: 100%;
height: 300px;
object-fit: cover;
}

.topNewssecond {
  width: 30%;
  margin: 10px;
  background-color: white;

}

.topNewssecond img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.news {
  width: 30%;
  margin: 10px;
  background-color: white;
}

.news-content {
    padding: 10px;

}

.news-content a {
  color: black;
  text-decoration: none;

}



.news img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.news-description {
  display: none;
}

/* .active + .news-description {
  display: block;
} */


/* Sidebar */
.sidebar {
  background-color: #896978;
  width: 25%;
  height: 100%;
  right: 0;
  top: 0;
  position: fixed;

}

footer {
  background-color: #91C7B1;
  width: 100%;
  height: 50px;
  bottom: 0;
}

@media screen and (max-width: 600px) {
.news-content {
  padding: 10px 35px 0px;

}
.news{
  width: 600px;
  height: 500px;
  margin: 10px;
  position: relative;
}



/* .news-image { */
  /* position: absolute; */
  /* overflow: hidden;
  height:auto;
  width: 100%;
  } */
}
